@media screen and (max-width:1200px) {
	
	.intro-content {
		display: inline-block;
		width: 70%;
	    }

	.hero .hero-content {
		padding-top: 28%;
	    }

    }

@media screen and (max-width:1024px) {
    
    }


@media screen and (max-width:991px) {
    
	h1 {font-size: 36px;}
	h2 {font-size: 24px;}
    h4 {font-size: 24px;}
    
    .osnawas .perfil {
        max-width: 60%;
        padding-bottom: 0;
        }
    .osnawas .perfil h2 {
        margin-bottom: 0;}
    
    .osnawas h2, .osnawas h4 {
        text-align: center;
        }
    
    .osnawas .deslize {
            display: block;
        }
    
    .osnawas .redes-sociais {
        text-align: center;
        padding-bottom: 52px;
        }
    
    .contato .cabana-wrap {
        display: none;
        }
    
    .atribo .cabana-wrap {
        left: 0;
        position: relative;
        margin: 0 auto;
        }
    
/*
    .flex-direction-nav a {
        display: none;
        }
*/
    }

@media screen and (max-width:640px) {
    
    .osnawas .perfil-text {
        display: none;
        }

    .osnawas .habilidades {
        text-align: center;
        }
    
    .osnawas .perfil {
        max-width: 60%;
        }
    
    .osnawas .perfil h2 {
        margin-bottom: 20px;}
		
    }

@media screen and (max-width:480px) {
    .hero .hero-content {
		padding-top: 41%;
		}

	.hero .btn {
		display: block;
		width: 80%;
		margin: 0 auto;
		}
        .hero .btn:first-of-type {
            margin-bottom: 20px;
            }

	.hero h1 {
		font-size: 50px;
	    }


	.down-arrow {
		display: none;
		}
        
    .osnawas .perfil {
        max-width: 60%;
        }
    .osnawas h2 {
        white-space: pre-line;
        }
    .contato p {
        white-space: pre-line;
        }
    
     .virgula {
        display: none;
    }

	}

@media screen and (max-width:320px) {
    
	}