p {
  font-family: 'swis721_th_btthin';
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
  margin: 4px;
  text-align: center;
  height: 23vh;
}

h2 {
  font-family: 'frente_h1regular';
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h4 {
  font-family: 'frente_h1regular';
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 20px;
}



footer {
  background-color: #09de74;
  position: relative;
  height: 70px;
}

footer .copyright {
  text-align: center;
  font-size: 14px;
  font-family: 'swis721_ltcn_btlight';
  color: #000;
  margin: 0;
  padding: 27px;
}

footer .top {
  width: 39px;
  height: 38px;
  display: block;
  padding: 2px 9px;
  position: relative;
  top: 60px;
  opacity: 0.3;
}

footer .top:hover {
  color: #ffffff;
  opacity: 1;
}

footer .top .fa {
  font-size: 30px;
}

.botfriend {
  margin: 20vh auto;
  width: 202px;
  height: 223px;
}
textarea {	
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;	
  width: 60%;
}
