/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  -webkit-animation-name: pulse2;
          animation-name: pulse2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.floating-arrow {
  -webkit-animation-name: floating-arrow;
          animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
  visibility: hidden; }

.wp2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible; }

/* ==========================================================================
Cores
========================================================================== */
.white {color: #ffffff;}
.brown {color: #522b00;}
.brown-dark {color: #351400;}
.yellow {color: #967200;}
.red {color: #941611;}

/* ==========================================================================
Divisões
========================================================================== */

    .hero-division {
        background: #967200 url(../img/hr-hero.png) repeat-x;
        height: 45px;
        width: 100%;
        display: block;
        }
    .osnawas-division {
        background: url(../img/hr-osnawas.png) repeat-x;
        height: 47px;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 99;
    }
    .oquefazemos-division {
        background: url(../img/hr-oquefazemos.png) repeat-x;
        height: 51px;
        width: 100%;
        display: block;
        }
    .trabalhos-division {
        background: #ffffff url(../img/hr-trabalhos.png) repeat-x center;
        height: 79px;
        width: 100%;
        display: block;
        }

    .divisoria-contato {
        background: #ffffff url(../img/hr-contato.png) repeat-x;
        height: 65px;
        width: 100%;
        display: block;
        }

    .divisoria-instanawa {
        background: url(../img/hr-instanawa.png) repeat-x center;
        height: 61px;
        width: 100%;
        display: block;
        position: relative;
        z-index: 31;
        }

/* ==========================================================================
A tribo
========================================================================== */
.atribo {
    background-color: #967200;
    }
    .atribo p {
        font-family: 'frente_h1regular';
        font-size: 20px;
        }


.atribo .cabana-wrap {
    width: 400px;
    height: 330px;
    background: url(../img/cabana-atribo.png) no-repeat center center;
    z-index: 4;
    left: 56%;
    position: absolute;
    bottom: -5px;
}

/* Pilares */
.pilares {
    background-color: #522b00;
    }
    .pilares h3.missao {
        background-image: url(../img/missao.png);
        width: 73px;
        height: 28px;
        margin: 20px auto;
        }
    .pilares h3.visao {
        background-image: url(../img/visao.png);
        width: 56px;
        height: 28px;
        margin: 20px auto;
        }
    .pilares h3.valores {
        background-image: url(../img/valores.png);
        width: 86px;
        height: 21px;
        margin: 20px auto;
        }
    .pilares p {
        font-size: 14px;
        text-align: center;
        white-space: pre-line;
        }
    .pilares .row {
        padding: 40px 0 23px 0;
        }

/* ==========================================================================
Os Nawas
========================================================================== */
.osnawas {
    background-color: #522b00;
    }

    .osnawas p {
        font-size: 11px;
        padding-bottom: 10px;
        }

    .osnawas .perfil {
        margin: 0 auto;
/*        padding-bottom: 100px;*/
        }

    .osnawas .perfil h2 {
        margin-top: -10px;
        margin-bottom: 50px;
        }

    .osnawas .perfil-text {
        padding-top: 30px;
        }


        .osnawas .redes-sociais a {
            padding-top: 7px;
            margin-right: 10px;
            width: 39px;
            height: 38px;
            display: inline-block;
            text-align: center;
            }

.flexslider {
    margin:0;
    border: none;
    background: #522b00;
}


.flex-direction-nav a {
    width: 35px;
    height: 80px;
}


.flex-direction-nav a:before {
    font-family: 'FontAwesome';
    content: "\f104";
    font-size: 55px;
    color: white;
    }

.flex-direction-nav a.flex-next:before {
    content: "\f105";
}

.deslize {
    display: none;
}



/* ==========================================================================
O que fazemos
========================================================================== */
.oquefazemos {
/*    margin-top: 120px;*/
    position: relative;
    }
  .oquefazemos h3.design{
        background-image: url(../img/design.png);
        width: 177px;
        height: 67px;
        margin: 20px auto;
        }
    .oquefazemos h3.branding {
        background-image: url(../img/branding.png);
        width: 177px;
        height: 67px;
        margin: 20px auto;
        }
    .oquefazemos h3.uiux {
        background-image: url(../img/uiux.png);
        width: 177px;
        height: 67px;
        margin: 20px auto;
        }

.border-circle {
    background: url(../img/rounded-border.png) no-repeat;
    width: 219px;
    height: 219px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -183px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform 1s ease-in-out;
    }
    .border-circle:hover {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }


/* ==========================================================================
Trabalhos
========================================================================== */
.box {
  min-height: 260px;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    margin: 0 15px;
    background: rgba(82, 43, 0, 0.9);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    max-height: 372px;
}

a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 174px;
    text-align: center;
    color: #ffffff;
    font-family: 'frente_h1regular';
    font-size: 22px;
}

#effect .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#effect .img {
  margin-bottom: 20px;
}

#effect .img.hover .overlay {
  opacity: 1;
}
#effect .img.hover .overlay a.expand {
  bottom: 60%;
  margin-bottom: -30px;
  opacity: 1;
}

.bg-yellow {
    background-color: #967200;
}

.trabalhos {
    background-color: #ffffff;
    }
    .trabalhos h3.ecomida {
        background-image: url(../img/title-ecomida.png);
        width: 118px;
        height: 27px;
        }
    .trabalhos h3.bistreco {
        background-image: url(../img/title-bistreco.png);
        width: 262px;
        height: 27px;
        }

.trabalhos h3.bistreco,
.trabalhos h3.ecomida {
    margin-left: 15px;
}
.trabalhos h4,
.trabalhos h4 {
    padding-left: 15px;
}

.thumb-ecomida {
    background-color: #042b20;
}

.thumb-bistreco {
    background: url(../img/pattern_bistreco.png);
}

.caption {
    background-color: #ffffff;
    z-index: 99;
    position: relative;
    width: 100%;
    padding: 1px 0 1px 0;
    top: -46px;
}

.caption-borderTop {
    background: url(../img/caption-border-top.png) repeat-x;
    height: 46px;
    position: relative;
    top: -46px;
    z-index: 20;
}

/* ==========================================================================
Instanawa
========================================================================== */

.instanawa .row div {
    padding-bottom: 20px;
}

.instanawa .hero-banner {
    background:#941611 url(../img/billboard_instanawa.png) no-repeat center;
	background-size: cover;
    height: 494px;
}

.instanawa h1 {
    margin-top: 208px;
}

.instanawa h3 {
    font-family: 'frente_h1regular';
    white-space: pre-line;
    padding-bottom: 30px;
}

/* ==========================================================================
Contato
========================================================================== */
#contato {
    background-color:#967200;
}

.sign-up .signup-form {
    padding-top:20px;
}

.sign-up .signup-form .form-input-group {
  width: 100%;
  margin: 0 auto 10px;
  border-radius: 5px;
  border: solid 2px #522b00;
  text-align: left;
  position: relative;
    }

.sign-up .signup-form .form-input-group input {
    height: 55px;
}

.sign-up .signup-form .form-input-group input,
.sign-up .signup-form .form-input-group textarea {
    padding-left: 8px;
    width: 100%;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    }
  
    .sign-up .signup-form .form-input-group input::-webkit-input-placeholder,
    .sign-up .signup-form .form-input-group textarea::-webkit-input-placeholder {
        color: #522b00;font-family: 'frente_h1regular'; font-size:18px; font-weight: bold;
        }
    .sign-up .signup-form .form-input-group input:-moz-placeholder,
    .sign-up .signup-form .form-input-group input:-moz-placeholder {
        color: #522b00;font-family: 'frente_h1regular'; font-size:18px; font-weight: bold;
        }
    .sign-up .signup-form .form-input-group input::-moz-placeholder,
    .sign-up .signup-form .form-input-group textarea::-moz-placeholder {
        color: #522b00;font-family: 'frente_h1regular'; font-size:18px; font-weight: bold;
        }
    .sign-up .signup-form .form-input-group input:-ms-input-placeholder,
    .sign-up .signup-form .form-input-group textarea:-ms-input-placeholder {
        color: #522b00;font-family: 'frente_h1regular'; font-size:18px; font-weight: bold;
        }

.contato p { 
    font-size: 13px;
}

.contato a:hover, .contato a:focus {
    color: #ffffff;
}

.cabanas {
    position: relative;
}

.contato .cabana-wrap {
    width: 600px;
    height: 561px;
    background: url(../img/cabana-contato.png) no-repeat center center;
    z-index: 4;
    }

.contato .left {
    left: 83%;
    position: absolute;
    top: -105px;
}

.contato .right {
    right: 82%;
    position: absolute;
    top: -105px;
}

/* ==========================================================================
MODAL
========================================================================== */

.sweet-alert {
    height: 476px;
    background: url(../img/modal-smoke.png) no-repeat;
    background-size: contain;
    max-width: 420px;
    width: 100%;
    padding: 0;
    margin-left: -212px;
}

.sweet-alert h2 {
    font-size: 34px;
    margin-top: 170px;
    line-height: 10px;
}

.sweet-alert p {
    font-family: 'frente_h1regular';
    font-size: 24px;
    font-weight: bold;
}

.sweet-alert button {
    border-radius: 50%;
    padding: 20px;
    background-color: #535025!important;
}

.sweet-alert button:hover {
    background-color: #65612e!important;
}

@media (max-width: 540px){
    
.sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px; }
    
    .sweet-alert h2 {
        font-size: 30px;
        margin-top: 114px;
        line-height: 0;
        }

    .sweet-alert p {
        font-size: 20px;
        }

    .sweet-alert button {
        margin-top: 10px;
        }  
    }

