@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=4.7.0');
  src: url('fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'frente_h1regular';
    src: url('FrenteH1-Regular-webfont.eot');
    src: url('FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('FrenteH1-Regular-webfont.woff') format('woff'),
         url('FrenteH1-Regular-webfont.ttf') format('truetype'),
         url('FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'swis721_ltcn_btlight';
    src: url('swiss_721_light_condensed_bt-webfont.eot');
    src: url('swiss_721_light_condensed_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('swiss_721_light_condensed_bt-webfont.woff2') format('woff2'),
         url('swiss_721_light_condensed_bt-webfont.woff') format('woff'),
         url('swiss_721_light_condensed_bt-webfont.ttf') format('truetype'),
         url('swiss_721_light_condensed_bt-webfont.svg#swis721_ltcn_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'swis721_md_btmedium';
    src: url('swiss_721_medium_bt-webfont.eot');
    src: url('swiss_721_medium_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('swiss_721_medium_bt-webfont.woff2') format('woff2'),
         url('swiss_721_medium_bt-webfont.woff') format('woff'),
         url('swiss_721_medium_bt-webfont.ttf') format('truetype'),
         url('swiss_721_medium_bt-webfont.svg#swis721_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'swis721_th_btthin';
    src: url('swiss_721_thin_bt-webfont.eot');
    src: url('swiss_721_thin_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('swiss_721_thin_bt-webfont.woff2') format('woff2'),
         url('swiss_721_thin_bt-webfont.woff') format('woff'),
         url('swiss_721_thin_bt-webfont.ttf') format('truetype'),
         url('swiss_721_thin_bt-webfont.svg#swis721_th_btthin') format('svg');
    font-weight: normal;
    font-style: normal;

}