<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Brauch:Tech">
  <meta name="description" content="site oficila brauch tech technology">
  <meta name="keywords" content="pwa mobile javascript nodejs node java springboot spring cloud container docker git brauch">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />


  <meta property="og:title" content="Brauch:Tech">
  <meta property="og:type" content="website">
  <meta property="og:description" content="">
  <meta property="og:image" content="">

  <meta property="og:url" content="https://www.brauch.tech">
  <meta property="og:site_name" content="Brauch:Tech">
  <meta property="fb:admins" content="">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:title" content="Brauch:Tech">
  <meta name="twitter:description" content="">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">

  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./assets/img/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/assets/css/layout.css">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
  <link href="/assets/css/supersized.css" rel="stylesheet">
  <link href="/assets/css/supersized.shutter.css" rel="stylesheet">
  <link href="/assets/css/fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="/assets/css/fonts.css" rel="stylesheet">
  <link href="/assets/css/shortcodes.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/assets/css/responsive.css" rel="stylesheet">
  <link href="/assets/css/supersized.css" rel="stylesheet">
  <link href="/assets/css/supersized.shutter.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="#">
  <script src="/assets/js/modernizr.js"></script>
  <title>Brauch:Tech | Friendly Development</title>

</head>

<body>
  <div id="home-slider">
    <div class="slider-text">
      <div id="slidecaption">
        <div class="col-lg-12">
          <img src="./assets/img/bot-friend.png" alt="bot:friend">
        </div>
        <h1 class="col-lg-12">#wearebrauchtech</h1>
      </div>
    </div>
  </div>

  <header>
    <div class="sticky-nav">
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
      <nav id="menu">
        <ul id="menu-nav">
          <li>
            <a href="#quemsomos" class="external">Quem somos?</a>
          </li>
          <li>
            <a href="#oquefazemos" class="external">O que Fazemos?</a>
          </li>
          <li>
            <a href="#contact" class="external">Contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="row" id="quemsomos">
    <div class="container">
      <div class="span12">
        <hr>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="span12">
        <div class="info-block">
          <div class="info-text">
            <h3>
              <span class="color-text">Quem </span> somos? </h3>
            <p>Somos apaixonados pela confecção de softwares desde a elaboração do rascunho, as primeiras formas sendo tomadas e todas as etapas até a conclusão do software.
              <br/>Independete do escopo e público alvo, estamos sempre aprimorando nossas técnicas e tecnologias para atender com a máximo de qualidade os desafios sejam eles MVP, PROTOTIPO, PWA, SITE, WEB Application.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="oquefazemos">
    <div class="container">
      <div class="span12">
        <hr>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="span12">
        <div class="info-block">
          <div class="info-text">
            <h3>
              <span class="color-text">O QUE </span> Fazemos? </h3>
            <p>Nossos Pilares: People, Ideas, Design, Experience, Technology, Simple!
              <br/>Somos uma iniciativa Brasileira de PESSOAS amantes de TECNOLOGIA e INOVAÇÃO!
              <br/>Adoramos novos desafios e oportunidades em que possamos fazer a diferença.
              <br/>Soluções práticas, SIMPLES e bem planejadas são os nossos objetivos para atender a uma única missão: SUCESSO nos produtos e serviços prestado para nossos clientes e parceiros!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="span12">
        <hr>
      </div>
    </div>
  </div>

  <div id="contact" class="page">
    <div class="container">
      <!-- Title Page -->
      <div class="row">
        <div class="span12">
          <div class="title-page">
            <h2 class="title">Podemos ajudar?</h2>
            <h3 class="title-description">Preencha o formulário abaixo e entraremos em contato:</h3>
          </div>
        </div>
      </div>
      <!-- End Title Page -->

      <!-- Contact Form -->
      <div class="row" id="contact">
        <div>
          <form id="contact-form" class="contact-form" action="/contato" method="post">
            <p class="contact-name">
              <input id="contact_name" type="text" name="nome" placeholder="Como devemos te chamar?" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Por favor não seja tímido')">
            </p>
            <p class="contact-email">
              <input id="contact_email" type="email" name="email" placeholder="Em qual email podemos nos comunicar? " required oninput="setCustomValidity('')" required oninvalid="this.setCustomValidity('Parece que você não digitou um email válido')">
            </p>
            <p class="contact-name">
              <input type="text" name="telefone" placeholder="Tem telefone/whatsapp/telegram? ">
            </p>
            <p class="contact-message">
              <textarea id="contact_message" placeholder="Sua Mensagem" name="message" rows="5" cols="40"></textarea>
            </p>
            <p class="contact-submit">
              <input type="submit" class="submit" value="Call the Brauchers!">
            </p>
          </form>
        </div>

      </div>
    </div>
  </div>

  <footer>
    <p class="credits">© 2018 Brauch:Tech.
      <a href="https://www.brauch.tech/" title="">Todos os Direitos Reservados </p>
  </footer>

  <a id="back-to-top" href="#">
    <i class="font-icon-arrow-simple-up"></i>
  </a>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="./assets/js/bootstrap.min.js"></script>
      <script src="./assets/js/supersized.3.2.7.min.js"></script>
      <script src="./assets/js/waypoints.js"></script>
      <script src="./assets/js/waypoints-sticky.js"></script>
      <script src="./assets/js/jquery.isotope.js"></script>
      <script src="./assets/js/jquery.fancybox.pack.js"></script>
      <script src="./assets/js/jquery.fancybox-media.js"></script>
      <script src="./assets/js/jquery.tweet.js"></script>
      <script src="./assets/js/plugins.js"></script>
      <script src="./assets/js/main.js"></script>

      <script type="text/javascript">
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('sw.js');
          });
        }
      </script>

      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114461826-1"></script>

      <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-114461826-1');
      </script>
</body>

</html>
