<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-BR">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Estúdio Nawa | Tribo Criativa</title>

  <!-- Core Meta Data -->
  <meta name="author" content="Estúdio Nawa">
  <meta name="description" content="Somos uma tribo de criativos, fazemos a dança da chuva e cases de sucesso. Com caciques especializados em mídias Online e Offline. Entre e conheça os Nawas.">
  <meta name="keywords" content="design,estúdio,marketing digital,website">

  <!-- Open Graph Meta Data -->
  <meta property="og:title" content="Estúdio Nawa | Tribo Criativa">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Somos uma tribo de criativos, fazemos a dança da chuva e cases de sucesso. Com caciques especializados em mídias Online e Offline. Entre e conheça os Nawas.">
  <meta property="og:image" content="https://www.nawadesign.com.br/assets/img">
  <!-- ver tamanho da imagem -->
  <meta property="og:url" content="https://www.nawadesign.com.br">
  <meta property="og:site_name" content="Estúdio Nawa">
  <meta property="fb:admins" content="">

  <!-- Twitter Card Meta Data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="http://wagerfield.github.io/parallax/index.html">
  <meta name="twitter:creator" content="@estudionawa">
  <meta name="twitter:title" content="Estúdio Nawa">
  <meta name="twitter:description" content="Somos uma tribo de criativos, fazemos a dança da chuva e cases de sucesso. Com caciques especializados em mídias Online e Offline. Entre e conheça os Nawas.">
  <!--    <meta name="twitter:image" content="http://wagerfield.github.io/parallax/assets/images/thumbnail.png">-->

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="static/img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="static/img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="static/img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="static/img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="static/img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="static/img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="static/img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="static/img/favicons/android-icon-192x192.png">
  <!--    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">-->
  <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicons/favicon-96x96.png">
  <!--    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">-->
  <link rel="shortcut icon" href="static/img/favicons/favicon.ico">
  <link rel="manifest" href="static/img/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#522B00">
  <meta name="msapplication-TileImage" content="static/img/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#522B00">

  <!-- Folhas de estilo -->
  <link rel="stylesheet" href="static/css/normalize.min.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/flexslider.css">
  <link rel="stylesheet" href="static/css/layout.css">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/queries.css">
  <link rel="stylesheet" href="static/fonts/fonts.css">
  <link rel="stylesheet" href="static/bower_components/animate.css/animate.min.css">
  <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body id="top">
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <section class="hero no-padding">
    <section class="navigation no-padding">
      <header>
        <div class="header-content">
          <div class="logo"><a href="#"><img src="static/img/logo.png" alt="Logotipo Nawa - Tribo Criativa"></a></div>
          <div class="header-nav">
            <nav>
              <ul class="primary-nav">
                <li><a href="#atribo">A Tribo</a></li>
                <li><a href="#osnawas">Os Nawas</a></li>
                <li><a href="#oquefazemos">O Que Fazemos</a></li>
                <li><a href="#contato">Contato</a></li>
              </ul>
            </nav>
          </div>
          <div class="navicon">
            <a class="nav-toggle" href="#"><span></span></a>
          </div>
        </div>
      </header>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero-content text-center">
            <h1><img src="static/img/logoHeader.png" widht="" height="" alt=""></h1>
            <h2 class="intro">Descubra a tribo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="down-arrow floating-arrow"><a href="#atribo" data-toggle="tooltip" data-placement="top" data-original-title="Deslize para baixo"><i class="angle-down"></i></a></div>

        <span class="hero-division"> </span>

    </section>

    <section id="atribo" class="atribo">

        <div class="text-center">
            <span class="title-pena center-block"> </span>
            <h1>A tribo</h1>
        </div>

        <div class="hero-banner">
           <img src="static/img/photo-atribo.jpg" class="img-responsive">
        </div>

        <div class="container">
            <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-1 col-xs-12">
                            <p>O estúdio Nawa foi concebido com base em um sentimento comum: o amor pela natureza e pelas raízes brasileiras. A palavra nawa é usada pelos índios para diferenciar pessoas de outras etnias que compartilham a língua pano, significa o outro, o diferente.
                            <br>
                            Com o avanço da indústria seringueira no Acre, os índios negavam sua identidade para evitar a perseguição dos donos de seringais, mas em 2003 os denominados Nawas foram reconhecidos judicialmente.
                            <br>
A escolha se deu pela influência cultural indígena, pela luta dessa população e o conceito de diferenciação que move os integrantes do Estúdio Nawa.</p>
                        </div>

            </div>
        </div>
        <div class="cabana-wrap wp3 left"> </div>
    </section>

    <section class="pilares no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img class="center-block img-responsive" src="static/img/ico-missao.png" width="90" height="76" alt="">
                    <h3 class="missao"></h3>
                    <p>Estabelecer, por meio da arte,
                    uma comunicação entre os
                    seres humanos e o universo.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img class="center-block img-responsive" src="static/img/ico-visao.png" width="" height="" alt="">
                    <h3 class="visao"></h3>
                    <p>Ser referência em soluções
                    de Design.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img class="center-block img-responsive" src="static/img/ico-valores.png" width="" height="" alt="">
                    <h3 class="valores"></h3>
                    <p>Atitude, inovação,
                    cooperatividade, criatividade,
                    excelência e ousadia.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="osnawas" class="osnawas">
        <div class="text-center">
            <span class="title-pena-white center-block"> </span>
            <h1>Os nawas</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <h2 class="yellow text-center no-margin">
                                   <span class="deslize">Deslize para o lado e</span>conheça
                                   os integrantes da tribo
                                </h2>
            <div class="todos col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
              <img class="img-responsive center-block" src="static/img/photo-osnawas.png" alt="Os Nawas">
            </div>
            </li>

            <li>
              <div class="col-md-4 col-md-offset-1">
                <div class="perfil">
                  <img src="static/img/osnawas-jessica.png" alt="Os Nawas">
                  <h2 class="yellow text-center">Jessica Braz</h2>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <p class="perfil-text">
                  Jessica Braz, uma paulistana mineira, descobriu sua paixão pela arte aos 11 anos ao se cansar das fraturas e hematomas, trocando assim as brincadeiras de rua da pacata Espinosa, no interior de Minas Gerais, pela estante de livros proibida por seus avós.
                  Desde então, encantou-se pela literatura, filosofia, teatro e música. Após esse período, retornou a São Paulo e trabalhou na área administrativa, varejo e telemarketing, com o objetivo de custear sua nova paixão despertada pelas influências
                  da vida paulistana: o design. Trabalhou como arte-finalista no Grupo Fera Brasil, na região do Grande ABC, e se destacou pela iniciativa e criação de produtos moldados a laser. Passou então a integrar o setor de marketing da empresa
                  e a participar da criação de peças para comunicação visual. Hoje, integra o setor de criação e marketing digital de uma pequena empresa de e-commerce, a Tennis Classic, que se destaca no fornecimento de acessórios e máquinas para treino
                  de esportes com raquete. Para Jessica, a arte é uma necessidade vital. Gosta de café, vinho, frutos do mar e de passar suas horas vagas divagando sobre ideias e paixões.

                </p>

                <p class="habilidades">
                  <strong>Suas habilidades são:</strong> diagramação, marketing digital, branding, fotografia e redação.
                </p>
                <h4 class="yellow">Me encontre nas redes sociais:</h4>
                <div class="redes-sociais">
                  <a class="border-box" href="https://www.facebook.com/JessicaRBraz" target="_blank"><i class="fa fa-facebook fa-2"></i></a>
                  <a class="border-box" href="https://www.instagram.com/jessicarbraz" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
                  <a class="border-box" href="https://twitter.com/JehRBraz" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                </div>
              </div>
            </li>

            <li>
              <div class="col-md-4 col-md-offset-1">
                <div class="perfil">
                  <img src="static/img/osnawas-jorge.png" alt="Os Nawas">
                  <h2 class="yellow text-center">Jorge Aparecido</h2>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <p class="perfil-text">
                  Quando criança, observando seu pai, que é pedreiro, Jorge começou a desenhar casas como quem quisesse ajudar no ofício da construção. Nascido em Atibaia, iniciou lá seus primeiros passos para a sua formação fazendo um curso de web design em 2007, na Microcamp.
                  Trabalhou como arte-finalista na Graf Tess e como assistente de criação na Din Brasil. Mudou-se para São Paulo em 2013 e iniciou sua graduação em Design Digital na Anhanguera. Atualmente trabalha como designer na Amend Cosméticos. Jorge
                  adora o contato com a natureza, andar de skate, surfar e apreciar belas tardes na sua cidade natal, com um vinil rolando e uma cerveja bem gelada na companhia de seu cachorro Scooby.
                </p>

                <p class="habilidades">
                  <strong>Suas habilidades são:</strong> criação, diagramação, edição de vídeo e modelagem em 3D.
                </p>
                <h4 class="yellow">Me encontre nas redes sociais:</h4>
                <div class="redes-sociais">
                  <a class="border-box" href="https://www.facebook.com/jorge.aparecido.7" target="_blank"><i class="fa fa-facebook fa-2"></i></a>
                  <a class="border-box" href="https://www.instagram.com/jorgeap87" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
                </div>
              </div>
            </li>

            <li>
              <div class="col-md-4 col-md-offset-1">
                <div class="perfil">
                  <img src="static/img/osnawas-miichs.png" alt="Os Nawas">
                  <h2 class="yellow text-center">Michele Oliveira</h2>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <p class="perfil-text">
                  Apelidada carinhosamente pela avó, Michele é mais conhecida como Michs. Quando pequena, via seu tio Vel, que é designer, produzir em sua própria estamparia camisetas com ilustrações próprias, e foi na ASDT Estampas que sua vontade de desenhar ficou ainda
                  mais evidente: queria levar sua arte às ruas, às pessoas, ao mundo. Sua família sempre incentivou suas habilidades, e entre idas e vindas a São Paulo fixou residência na cidade cinza. Pelo Senai concluiu o curso de desenho industrial,
                  e em 2013 iniciou a presente graduação. Michs ama música e é multi-instrumentista. Gosta muito do contato com a natureza e possui tatuagens que traduzem parte de sua personalidade. Atualmente trabalha na Casa Rex e desenvolve layout
                  de embalagens para marcas de reconhecimento mundial, como Knnor, Kibon e Dove.
                </p>

                <p class="habilidades">
                  <strong>Suas habilidades são:</strong> criação, fotografia, diagramação, tratamento e manipulação de imagem.
                </p>
                <h4 class="yellow">Me encontre nas redes sociais:</h4>
                <div class="redes-sociais">
                  <a class="border-box" href="https://www.facebook.com/miichs13" target="_blank"><i class="fa fa-facebook fa-2"> </i></a>
                  <a class="border-box" href="https://www.instagram.com/miichsoliveira" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
                  <a class="border-box" href="https://twitter.com/miixhs" target="_blank"><i class="fa fa-twitter fa-2"> </i></a>
                </div>
              </div>
            </li>

            <li>
              <div class="col-md-4 col-md-offset-1">
                <div class="perfil">
                  <img src="static/img/osnawas-raquel.png" alt="Os Nawas">
                  <h2 class="yellow text-center">Raquel Costa</h2>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <p class="perfil-text">
                  Ansiosa pelas aulas de educação artística, Raquel sentia-se atraída pelas artes visuais desde muito pequena. De maneira autodidata, aprendeu a usar o Photoshop para editar suas próprias fotos e notou que o passatempo lhe interessava mais do que esperava.
                  Buscou então conhecimento específico e, em 2005, pelo Senai, iniciou o curso de Web Design. Trabalhou na área administrativa da empresa Bandeirante Energia, em Mogi das Cruzes, durante quatro anos. Ao sair da empresa, em 2012, mudou-se
                  para São Paulo e logo começou a trabalhar como designer gráfico na Dourado Alimentos. Iniciou a graduação que agora conclui e fez estágio na área de web design. Trabalhou como desenvolvedora Front End na agência Digi, que atua com diversas
                  marcas de renome nacional e internacional. Nas horas livres gosta de explorar as belezas urbanas, descobrir novos restaurantes, bares, exposições e galerias, e também de viajar e curtir a natureza. Encantada por vários campos artísticos,
                  tem uma paixão especial pela sétima arte e é mãe do lindo gatinho Nolan.

                </p>

                <p class="habilidades">
                  <strong>Suas habilidades são:</strong> criação, marketing digital, design de interface e programação para web.
                </p>
                <h4 class="yellow">Me encontre nas redes sociais:</h4>
                <div class="redes-sociais">
                  <a class="border-box" href="https://www.facebook.com/rquelcosta" target="_blank"><i class="fa fa-facebook fa-2"></i></a>
                  <a class="border-box" href="https://www.instagram.com/rquelcosta"><i class="fa fa-instagram fa-2"></i></a>
                </div>
              </div>
            </li>

            </ul>

          </div>
        </div>

      </div>
    </div>
    <span class="osnawas-division"> </span>
  </section>


  <section id="oquefazemos" class="oquefazemos brown">

    <div class="text-center">
      <span class="title-pena center-block"> </span>
      <h1>O que fazemos</h1>
      <h2>Além de fazer a dança da chuva, o estúdio também trabalha com:</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 padding-bottom">
          <span class="center-block border-circle"> </span>
          <img class="center-block img-responsive" src="static/img/ico-design.png" width="" height="" alt="">
          <h3 class="design"> </h3>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 padding-bottom">
          <span class="center-block border-circle"> </span>
          <img class="center-block img-responsive" src="static/img/ico-branding.png" width="" height="" alt="">
          <h3 class="branding"> </h3>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 padding-bottom">
          <span class="center-block border-circle"> </span>
          <img class="center-block img-responsive" src="static/img/ico-uiux.png" width="" height="" alt="">
          <h3 class="uiux"> </h3>
        </div>

      </div>
      <span class="oquefazemos-division"> </span>
    </div>

  </section>

  <section id="contato" class="sign-up section-padding text-center contato">

    <div class="text-center">
      <span class="title-pena-white center-block"> </span>
      <h1 class="brown">Contato</h1>
      <h2>Envie o seu sinal de fumaça, a tribo está preparada para te socorrer</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!-- formulario -->
          <form class="signup-form" role="form" action="phpmail.php" method="post">
            <!-- Nome -->
            <div class="col-md-6">
              <div class="form-input-group">
                <input type="text" name="nome" id="nome" placeholder="Nome" required>
              </div>
            </div>
            <!-- E-mail -->
            <div class="col-md-6">
              <div class="form-input-group">
                <input type="email" name="email" id="email" placeholder="E-mail" required>
              </div>
            </div>
            <!-- Mensagem -->
            <div class="col-md-12">
              <div class="form-input-group">
                <textarea name="mensagem" id="mensagem" rows="8" placeholder="Mensagem" required></textarea>
              </div>
            </div>
            <button type="submit" value="Enviar" class="btn-fill sign-up-btn" data-toggle="tooltip" data-placement="top" data-original-title="Enviar">
                            <i class="ico-fire"> </i>
                        </button>
          </form>
          <!-- / formulario -->

        </div>
        <div class="col-md-12">
          <h4>Ou venha nos conhecer e fazer a dança da chuva com a gente</h4>
          <p>R. Afonso Celso, 235 - Vila Mariana<span class="virgula">,</span> São Paulo - SP, 04119-001</p>
          <p>Tel: +55 11 5085-5000&nbsp;&nbsp; E-mail: <a href="mailto:contato@nawadesign.com.br">contato@nawadesign.com.br</a></p>
        </div>
        <div class="cabanas">
          <div class="cabana-wrap wp3 left"> </div>
          <div class="cabana-wrap wp4 right"> </div>
        </div>
      </div>
    </div>

  </section>


  <section class="social-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="mask-button" href="https://www.facebook.com/estudionawa" target="_blank"><i class="fa fa-facebook fa-2"> </i></a>
          <a class="mask-button" href="https://www.instagram.com/estudionawa" target="_blank"><i class="fa fa-instagram fa-2"></i></a>
          <a class="mask-button" href="https://twitter.com/estudionawa" target="_blank"><i class="fa fa-twitter fa-2"> </i></a>
          <a class="mask-button" href="https://www.youtube.com/channel/UCTI1BJ2IuwU7CNq3aaVYKAA" target="_blank"><i class="fa fa-youtube-play fa-2"> </i></a>
        </div>
      </div>
    </div>
  </section>


  <!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="copyright">
                    © 2016 Estúdio Nawa.
                    Todos os Direitos Reservados
                    </h3>
          <a href="#top" class="top border-box pull-right"> <i class="fa fa-angle-up"> </i> </a>
        </div>

      </div>
    </div>
  </footer> -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
  </script>
  <script src="static/bower_components/retina.js/dist/retina.js"></script>
  <script src="static/bower_components/classie/classie.js"></script>
  <script src="static/bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>
  <script src="static/js/vendor/bootstrap.min.js"></script>
  <script src="static/js/jquery.flexslider-min.js"></script>
  <script src="static/js/sweetalert.min.js"></script>
  <script src="static/js/instafeed.min.js"></script>
  <script src="static/js/scripts.js"></script>

  <script>
    $(document).ready(function() {
      /***************** Initiate Flexslider ******************/
      $('.flexslider').flexslider({
        animation: "slide",
        slideshow: false,
        controlNav: false
      });

      /***************** Instafeed ******************/
      var userFeed = new Instafeed({
        get: 'tagged',
        tagName: 'instanawa',
        //userId: '3206856018',
        clientId: '268fafddbe764be29b4207b4fa147345',
        accessToken: '3206856018.268fafd.30f758fa812e409a9ff6c94cf8a7821a',
        resolution: 'standard_resolution',
        template: '<div class="col-md-3 col-sm-3 col-xs-6"><a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" class="img-responsive" /></a></div>',
        sortBy: 'most-recent',
        limit: 4,
        links: false
      });
      userFeed.run();




      if (Modernizr.touch) {
        // show the close overlay button
        $(".close-overlay").removeClass("hidden");
        // handle the adding of hover class when clicked
        $(".img").click(function(e) {
          if (!$(this).hasClass("hover")) {
            $(this).addClass("hover");
          }
        });
        // handle the closing of the overlay
        $(".close-overlay").click(function(e) {
          e.preventDefault();
          e.stopPropagation();
          if ($(this).closest(".img").hasClass("hover")) {
            $(this).closest(".img").removeClass("hover");
          }
        });
      } else {
        // handle the mouseenter functionality
        $(".img").mouseenter(function() {
            $(this).addClass("hover");
          })
          // handle the mouseleave functionality
          .mouseleave(function() {
            $(this).removeClass("hover");
          });
      }
    });
  </script>

</body>

</html>
