<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Brauch:Tech">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta property="og:title" content="Brauch:Tech">
  <meta property="og:type" content="website">
  <meta property="og:description" content="">
  <meta property="og:image" content="">

  <meta property="og:url" content="https://www.brauch.tech">
  <meta property="og:site_name" content="Brauch:Tech">
  <meta property="fb:admins" content="">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:title" content="Brauch:Tech">
  <meta name="twitter:description" content="">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">

  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./assets/img/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="./assets/css/layout.css">

  <title>Brauch:Tech | Friendly Development</title>
</head>

<body id="top">
  <section>
    <div class="container">
      <div class="row">
        <div class="botfriend">
          <img src="./assets/img/bot-friend.png" alt="bot:friend">
        </div>
        <h1>#wearebrauchtech</h1>
      </div>
    </div>
  </section>

  <%= msg %>

  <section>
    <fieldset>
      <legend>BRAUCH</legend>
      <p>Nossos Pilares: People, Ideas/INNOVATION, Design/PLANNING, Experience, Technology, Simple! <br/> Somos uma iniciativa Brasileira de PESSOAS amantes de TECNOLOGIA e INOVAÇÃO!<br/> Adoramos novos desafios e oportunidades em que possamos fazer a diferença.<br/>        Soluções práticas, SIMPLES e bem planejadas são os nossos objetivos para atender a uma única missão: <br/> SUCESSO nos produtos e serviços prestado para nossos clientes e parceiros!</p>
    </fieldset>

    <fieldset style="margin-top:3%">
      <legend>BRAUCHING</legend>
      <p>
      Somos apaixonados pela confecção de softwares desde a elaboração do rascunho, <br/>
      as primeiras formas sendo tomadas e todas as etapas até a conclusão do software. <br/>
      Independete do escopo e público alvo, estamos sempre aprimorando nossas técnicas e tecnologias </br>
      para atender com a máximo de qualidade os desafios sejam eles MVP, PROTOTIPO, PWA, SITE, WEB Application.
      </p>
    </fieldset>

    <fieldset style="margin-top:3%">
      <legend>CONTACT</legend>
      <form action="/contato" method="post">
        Como devemos te chamar? <br/><br/>
        <input type="text" name="nome" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Por favor não seja tímido')">  <br/><br/>

        Em qual email podemos nos comunicar? <br/><br/>
        <input type="email" name="email" required  oninput="setCustomValidity('')" required oninvalid="this.setCustomValidity('Parece que você não digitou um email válido')"> <br/><br/>

        Tem telefone/whatsapp/telegram? <br/><br/>
        <input type="text" name="telefone" > <br/><br/>

        E como podemos ajudar? <br/><br/>
        <textarea name="mensagem" rows="8" cols="80" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Manda ver! Estamos aqui para ajudar')"></textarea> <br/><br/>

        <input type="submit" name="" value="Call the Brauchers!">
      </form>
    </fieldset>

  </section>

  <footer style="margin-top:3%">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="copyright">© 2018 Brauch:Tech. Todos os Direitos Reservados</h3>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('sw.js');
      });
    }
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114461826-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114461826-1');
  </script>

  <script>
  function notification(){
    Notification.requestPermission().then(function(result){
      console.log(result)
    })
  
   var options = {
    body: "theBody",
    icon: "theIcon"
    };
  
    var n = new Notification("theTitle", options);
    setTimeout(n.close.bind(n), 5000);
    }
    notification();
    
    
  </script>
</body>

</html>
